rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Memories Security Rules
    match /memories/{memoryId} {
      allow read, write, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    
    // Workspaces Security Rules
    match /workspaces/{workspaceId} {
      allow read, write, update, delete: if request.auth != null && request.auth.uid == resource.data.ownerId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.ownerId;
    }
    
    // Users Security Rules
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
